.experiencias {
  background-color: var(--cor01);
}

.experienciasContainer {
  display: flex;
    gap: 1.4rem;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    box-sizing: border-box;
}

.experienciasTexto {
  color: var(--cor05);
  width: 50%;
}

.experienciasTexto hr {
  padding: 1px;
  background-color: var(--cor05);
  width: 6rem;
}

.experienciasCard {
  background-color: var(--cor05);
  width: 50%;
}