.sobre_container {
  background: #ffffff;
  display: flex;
  gap: 2rem;
  padding: 6rem 2rem;
}

.sobre_containerImg img:hover {
  box-shadow: 0px 0px 10px 6px #00000048;
  width: 525px;
  transition: 0.4s;
  
}

@media (max-width: 1024px) {
  .sobre_container {
    flex-direction: column-reverse;
  }

  .sobre_containerImg {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .sobre_containerImg img {
    width: 425px;
  }
}

@media (max-width: 425px) {
  .sobre_containerImg img {
    width: 320px;
  }
}

@media (max-width: 375px) {
  .sobre_containerImg img {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .sobre_containerImg img {
    width: 260px;
  }
}