footer {
  background: var(--cor05);
  padding: 1rem 2rem;
}

.rodape_container {
  display: flex;
  justify-content: space-between;
}

.rodape_container p {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.rodape_icones a {
  color: #ffffff;
}

.rodape_icones svg {
  font-size: 1.8rem;
  padding: 0 0.8rem;
}