footer {
  background: var(--cor05);
  padding: 1rem 2rem;
}

.rodape_container {
  display: flex;
  justify-content: space-between;
}

.rodape_container p {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.rodape_icones a {
  color: #ffffff;
}

.rodape_icones a:hover {
  color: var(--cor01);
  transition: 1s;
}

.rodape_icones a:active {
  color: var(--cor03);
  transition: 0s;
}

.rodape_icones svg {
  font-size: 2.2rem;
  padding: 0 0.1rem;
}