.sobreMim {
  background-color: var(--cor05);
}

.sobreMimContainer {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  box-sizing: border-box;
  
}

.sobreMimTexto {
  width: 50%;
}

.sobreMimTexto hr {
  padding: 1px;
  background-color: var(--cor01);
  width: 6rem;
}

.sobreMimImg {
  width: 50%;
}

.sobreMimImg img {
  max-width: 600px;
  min-width: 500px;
}