.botao {
  align-items: center;
  background-color: var(--cor03);
  border: none;
  color: var(--cor01);
  display: flex;
  font-family: 'Outfit', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  justify-content: center;
  margin: 3rem 0;
  padding: 1rem 2rem;
  text-align: center;
}

.botao:hover {
  box-shadow: 0px 3px 10px 6px #0000008d;
  background-color: var(--cor05);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: scale(1.04);
}

.botao:active {
  box-shadow: 1px 1px 20px var(--cor03);
  background-color: var(--cor03);
  transition: 0s;
}

@media (max-width: 375px) {
  .botao {
    padding: 0.8rem 1rem;
  }
}

@media (max-width: 320px) {
  .botao {
    font-size: 1.2rem;
  }
}