.contato_container {
  background: var(--cor05);
  display: flex;
  gap: 2rem;
  padding: 6rem 2rem;
}

.contato_meiosDeContato {
  width: 50%;
}

.blocoDeContato_paragrafo {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

.contato_icones {
  display: flex;
  flex-wrap: wrap;
}

.contato_formulario {
  width: 50%;
}

@media (max-width: 1024px) {
  .contato_container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .contato_meiosDeContato {
    width: 94vw;
  }

  .contato_formulario {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 95vw;
  }

  .contato_icones {
    margin: auto;
    max-width: 700px;
    justify-content: center;
  }

  .contato_formulario {
    width: 94vw;
    word-break: break-word;
  }
}