.blocoDeContato_container {
  display: flex;
  gap: 25px;
  margin: 24px;
  width: 220px;
}

.blocoDeContato_svg svg {
  border: 1.5px solid #ffffff;
  color: #ffffff;
  font-size: 35px;
  padding: 12px;
}

.blocoDeContato_containerTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blocoDeContato_textoUm {
  color: var(--cor02);
  font-size: 1.2rem;
  word-break: normal;
}

.blocoDeContato_textoDois {
  color: #ffffff;
  font-size: 1.1rem;
  word-break: normal;
}