.cabecalho {
  background-color: var(--cor05);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.cabecalho_menuHamburguerFechado {
  background-color: var(--cor05);
  color: #ffffff;
  font-size: 2.2rem;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}