.banner {
  background: url('./banner.png') no-repeat left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 10rem 2rem;
}

.banner_container {
  width: 70%;
}

.banner_titulo,
.banner_subtitulo,
.banner_texto,
.ligueAgora_container {
  margin: 1rem 0;
}

.banner_titulo {
  color: var(--cor03);
  text-transform: uppercase;
}

.banner_subtitulo {
  color: var(--cor05);
  font-size: 5rem;
}

.banner_texto {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.ligueAgora_container {
  align-items: baseline;
  display: flex;
  gap: 2rem;
}

.ligueAgora_container svg {
  padding-right: 0.8rem;
  font-size: 1.5rem;
}

.ligueAgora_texto {
  color: var(--cor05);
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 500px) {

  .banner_titulo,
  .banner_subtitulo,
  .banner_texto,
  .ligueAgora_container {
    margin: 0;
    padding: 0;
  }

    .banner_titulo {
      color: var(--cor03);
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: 1rem 0;
    }

    .banner_subtitulo {
      color: var(--cor05);
      font-size: 3.5rem;
      padding: 1rem 0;
    }

        .banner_texto {
          font-size: 1.2rem;
          padding: 1rem 0;
        }
}