.menuPrincipal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 20px 40px;
  background: var(--cor01);
  
}

.menuPrincipal img {
  width: 200px;
  height: 60px;
}

.menuPrincipal ul {
  display: flex;
}

.menuPrincipal a {
  text-decoration: none;
}

.menuPrincipal li {
  list-style: none;
  color: white;
  padding: 10px 20px;
}

.menuPrincipal li:hover {
  color: var(--cor03);
  cursor: pointer;
  transition: 500ms linear;
}